# DATA CLEANING

In [13]:
#Required packages

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [15]:
# Createing data frame
pd.set_option("display.max_rows", 50)
# Suppress warnings
warnings.filterwarnings('ignore')

In [16]:
loan = pd.read_csv("./loan/loan.csv")

In [17]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [18]:
loan.shape

(39717, 111)

In [19]:
# get details of the data
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [20]:
# Find isnull values in dataset and get the percentage 
missing_values_percentage = loan.isnull().sum() / len(loan) * 100
print(missing_values_percentage)

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.098195
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 111, dtype: float64

In [21]:
# Get coloumns with more than 40% of data
columns_with_missing_data = missing_values_percentage[missing_values_percentage > 40].index
# convert it to list
#columns_with_missing_data = missing_values_percentage[missing_values_percentage > 40].index.tolist()
print(columns_with_missing_data)

Index(['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d',
       'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [22]:
# Drop the columns with more than 40% of miss_dataing data
loan_data = loan.drop(columns=columns_with_missing_data)

In [23]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [24]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26775 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  open_acc                    39717 non-null  int64
 29  pub_rec                     39717 non-null  int64
 30  revol_bal                   39717 non-null  int64
 31  revol_util                  39667 non-null  object
 32  total_acc                   39717 non-null  int64
 33  initial_list_status         39717 non-null  object
 34  out_prncp                   39717 non-null  float64
 35  out_prncp_inv               39717 non-null  float64
 36  total_pymnt                 39717 non-null  float64
 37  total_pymnt_inv             39717 non-null  float64
 38  total_rec_prncp             39717 non-null  float64
 39  total_rec_int               39717 non-null  float64
 40  total_rec_late_fee          39717 non-null  float64
 41  recoveries                  39717 non-null  float64
 42  collection_recovery_fee     39717 non-null  float64
 43  last_pymnt_d                39646 non-null  object
 44  last_pymnt_amnt             39717 non-null  float64
 45  last_credit_pull_d          39715 non-null  object
 46  collections_12_mths_ex_med  39661 non-null  float64
 47  policy_code                 39717 non-null  int64
 48  application_type            39717 non-null  object
 49  acc_now_delinq              39717 non-null  int64
 50  chargeoff_within_12_mths    39661 non-null  float64
 51  delinq_amnt                 39717 non-null  int64
 52  pub_rec_bankruptcies        39020 non-null  float64
 53  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(23)
memory usage: 16.4+ MB

In [25]:
# Checking for the coloumns that still have some missing values
missing_value = loan_data.isnull().sum() / len(loan_data) * 100
find_missing_columns = missing_value[missing_value > 0]
print(find_missing_columns)

emp_title                      6.191303
emp_length                     2.706650
desc                          32.585543
title                          0.027696
revol_util                     0.125891
last_pymnt_d                   0.178765
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
chargeoff_within_12_mths       0.140998
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [26]:
#check for the missing value count for the above each missing value columns we got in above result
for col in find_missing_columns.index.tolist():
    print(col)
    print(f"number of missing values in a {col}: {loan_data[col].isnull().sum()}")
    print(loan_data[col].describe())

emp_title
number of missing values in a emp_title: 2459
count       37258
unique      28820
top       US Army
freq          134
Name: emp_title, dtype: object
emp_length
number of missing values in a emp_length: 1075
count         38642
unique           11
top       10+ years
freq           8879
Name: emp_length, dtype: object
desc
number of missing values in a desc: 12942
count     26775
unique    26526
top
freq        210
Name: desc, dtype: object
title
number of missing values in a title: 11
count                  39706
unique                 19615
top       Debt Consolidation
freq                    2184
Name: title, dtype: object
revol_util
number of missing values in a revol_util: 50
count     39667
unique     1089
top          0%
freq        977
Name: revol_util, dtype: object
last_pymnt_d
number of missing values in a last_pymnt_d: 71
count      39646
unique       101
top       May-16
freq        1256
Name: last_pymnt_d, dtype: object
last_credit_pull_d
number of missing values in a last_credit_pull_d: 2
count      39715
unique       106
top       May-16
freq       10308
Name: last_credit_pull_d, dtype: object
collections_12_mths_ex_med
number of missing values in a collections_12_mths_ex_med: 56
count    39661.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: collections_12_mths_ex_med, dtype: float64
chargeoff_within_12_mths
number of missing values in a chargeoff_within_12_mths: 56
count    39661.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: chargeoff_within_12_mths, dtype: float64
pub_rec_bankruptcies
number of missing values in a pub_rec_bankruptcies: 697
count    39020.000000
mean         0.043260
std          0.204324
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: pub_rec_bankruptcies, dtype: float64
tax_liens
number of missing values in a tax_liens: 39
count    39678.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: tax_liens, dtype: float64

In [27]:
#check for the remaining columns
loan_data.shape

(39717, 54)

In [28]:
# As we have reduce to 54 columns after data cleaning. Now we will again check for the columns with the unique counts in them.
unique_col = loan_data.nunique()
print(unique_col)

id                          39717
member_id                   39717
loan_amnt                     885
funded_amnt                  1041
funded_amnt_inv              8205
                            ...
acc_now_delinq                  1
chargeoff_within_12_mths        1
delinq_amnt                     1
pub_rec_bankruptcies            3
tax_liens                       1
Length: 54, dtype: int64

In [29]:
# As per the above observation we got the columns with single unique value, so they will not affect much in our analysis
#remove the columns with unique count = 1
uni_col = unique_col[unique_col.values == 1]
unique_col_list = uni_col.index.tolist()
loan_data.drop(columns=unique_col_list, inplace=True)

In [30]:
loan_data.shape

(39717, 45)

In [31]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  url                      39717 non-null  object
 18  desc                     26775 non-null  object
 19  purpose                  39717 non-null  object
 20  title                    39706 non-null  object
 21  zip_code                 39717 non-null  object
 22  addr_state               39717 non-null  object
 23  dti                      39717 non-null  float64
 24  delinq_2yrs              39717 non-null  int64
 25  earliest_cr_line         39717 non-null  object
 26  inq_last_6mths           39717 non-null  int64
 27  open_acc                 39717 non-null  int64
 28  pub_rec                  39717 non-null  int64
 29  revol_bal                39717 non-null  int64
 30  revol_util               39667 non-null  object
 31  total_acc                39717 non-null  int64
 32  out_prncp                39717 non-null  float64
 33  out_prncp_inv            39717 non-null  float64
 34  total_pymnt              39717 non-null  float64
 35  total_pymnt_inv          39717 non-null  float64
 36  total_rec_prncp          39717 non-null  float64
 37  total_rec_int            39717 non-null  float64
 38  total_rec_late_fee       39717 non-null  float64
 39  recoveries               39717 non-null  float64
 40  collection_recovery_fee  39717 non-null  float64
 41  last_pymnt_d             39646 non-null  object
 42  last_pymnt_amnt          39717 non-null  float64
 43  last_credit_pull_d       39715 non-null  object
 44  pub_rec_bankruptcies     39020 non-null  float64
dtypes: float64(15), int64(10), object(20)
memory usage: 13.6+ MB

In [32]:
loan_data.to_csv("loan_data_after_cleaning.csv")

In [33]:
remaing_unique_col = loan_data.nunique()
print(remaing_unique_col)

id                         39717
member_id                  39717
loan_amnt                    885
funded_amnt                 1041
funded_amnt_inv             8205
term                           2
int_rate                     371
installment                15383
grade                          7
sub_grade                     35
emp_title                  28820
emp_length                    11
home_ownership                 5
annual_inc                  5318
verification_status            3
issue_d                       55
loan_status                    3
url                        39717
desc                       26526
purpose                       14
title                      19615
zip_code                     823
addr_state                    50
dti                         2868
delinq_2yrs                   11
earliest_cr_line             526
inq_last_6mths                 9
open_acc                      40
pub_rec                        5
revol_bal                  21711
revol_util                  1089
total_acc                     82
out_prncp                   1137
out_prncp_inv               1138
total_pymnt                37850
total_pymnt_inv            37518
total_rec_prncp             7976
total_rec_int              35148
total_rec_late_fee          1356
recoveries                  4040
collection_recovery_fee     2616
last_pymnt_d                 101
last_pymnt_amnt            34930
last_credit_pull_d           106
pub_rec_bankruptcies           3
dtype: int64

In [37]:
per_unique_value = loan_data.nunique()
per_uni_col = per_unique_value[per_unique_value > len(loan_data)* .02]
print(per_uni_col)

id                         39717
member_id                  39717
loan_amnt                    885
funded_amnt                 1041
funded_amnt_inv             8205
installment                15383
emp_title                  28820
annual_inc                  5318
url                        39717
desc                       26526
title                      19615
zip_code                     823
dti                         2868
revol_bal                  21711
revol_util                  1089
out_prncp                   1137
out_prncp_inv               1138
total_pymnt                37850
total_pymnt_inv            37518
total_rec_prncp             7976
total_rec_int              35148
total_rec_late_fee          1356
recoveries                  4040
collection_recovery_fee     2616
last_pymnt_amnt            34930
dtype: int64

In [40]:
cols_not_required = ["url", "desc", "title", "emp_title", "zip_code", "out_prncp", "out_prncp_inv", "id", "member_id"]
loan_data.drop(columns=cols_not_required, inplace=True)

In [41]:
loan_data.shape

(39717, 36)

# Data Preparation

In [43]:

#Remove rows where the loan_status is current as current means in-porgress

rows_to_drop = loan_data[loan_data['loan_status'] == "Current"].index
loan_data.drop(rows_to_drop, inplace=True)

In [45]:
loan_data.to_csv("after_removing_current_rows.csv")

In [47]:
loan_data.shape

(38577, 36)

In [48]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38577 entries, 0 to 39716
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                38577 non-null  int64
 1   funded_amnt              38577 non-null  int64
 2   funded_amnt_inv          38577 non-null  float64
 3   term                     38577 non-null  object
 4   int_rate                 38577 non-null  object
 5   installment              38577 non-null  float64
 6   grade                    38577 non-null  object
 7   sub_grade                38577 non-null  object
 8   emp_length               37544 non-null  object
 9   home_ownership           38577 non-null  object
 10  annual_inc               38577 non-null  float64
 11  verification_status      38577 non-null  object
 12  issue_d                  38577 non-null  object
 13  loan_status              38577 non-null  object
 14  purpose                  38577 non-null  object
 15  addr_state               38577 non-null  object
 16  dti                      38577 non-null  float64
 17  delinq_2yrs              38577 non-null  int64
 18  earliest_cr_line         38577 non-null  object
 19  inq_last_6mths           38577 non-null  int64
 20  open_acc                 38577 non-null  int64
 21  pub_rec                  38577 non-null  int64
 22  revol_bal                38577 non-null  int64
 23  revol_util               38527 non-null  object
 24  total_acc                38577 non-null  int64
 25  total_pymnt              38577 non-null  float64
 26  total_pymnt_inv          38577 non-null  float64
 27  total_rec_prncp          38577 non-null  float64
 28  total_rec_int            38577 non-null  float64
 29  total_rec_late_fee       38577 non-null  float64
 30  recoveries               38577 non-null  float64
 31  collection_recovery_fee  38577 non-null  float64
 32  last_pymnt_d             38506 non-null  object
 33  last_pymnt_amnt          38577 non-null  float64
 34  last_credit_pull_d       38575 non-null  object
 35  pub_rec_bankruptcies     37880 non-null  float64
dtypes: float64(13), int64(8), object(15)
memory usage: 10.9+ MB

In [49]:
loan_data.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_length                 1033
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                   50
total_acc                     0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                 71
last_pymnt_amnt               0
last_credit_pull_d            2
pub_rec_bankruptcies        697
dtype: int64